<div class="row">
  <div class="col-md-8">
    <div class="box-heading">
      <h1>Image Cache</h1>
    </div>
    <div class="box-content">
      <div class="row form-group">
        <div class="col-md-3">Override JPEG Quality<span class="help">This will override the default JPEG quality of OpenCart with the value below.</span></div>
        <div class="col-md-3">
          <select name="Nitro[ImageCache][OverrideCompression]" class="form-control NitroImageCacheOverrideCompression">
            <option value="yes" {{ nitroData.Nitro.ImageCache.OverrideCompression == 'yes' ? 'selected' }}>Yes</option>
            <option value="no" {{ nitroData.Nitro.ImageCache.OverrideCompression != 'yes' ? 'selected' }}>No</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">JPEG Quality<span class="help">Your JPEG cache images will be created with this quality / compression.</span></div>
        <div class="col-md-3">
          <input class="form-control" type="number" name="Nitro[ImageCache][JPEGCompression]" max="100" min="0" value="{{ nitroData.Nitro.ImageCache.JPEGCompression ?: '90' }}" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">Image Cache Directory<span class="help">The native OpenCart image cache directory, where it stores the files.</span></div>
        <div class="col-md-3">
          <span class="cacheImageDirSpan cacheDirLink" ca="{{ image_cache_dir }}">********** (click to show)</span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">Delete cache<span class="help">Use this button to delete the OpenCart Image Cache.</span></div>
        <div class="col-md-3">
          <a href="javascript:void(0)" onclick="nitro.cachemanager.clearImageCache();" class="btn btn-default"><i class="icon-trash first-level-spinner"></i> Clear OpenCart Image Cache</a>
        </div>
      </div>
      <script type="text/javascript">
$('.cacheImageDirSpan').click(function() {
  $(this).html($(this).attr('ca')).removeClass('cacheDirLink');
});
      </script>
    </div>

    <div class="box-heading">
      <h1>Image Dimensions Override</h1>
    </div>
    <div class="box-content">
      {% for page_type, page_title in imagecache_pages %}
      <div class="row form-group">
        <div class="col-md-3">{{ page_title }}</div>
        <div class="col-md-6">
          <ul class="nav nav-tabs" id="img-dimensions-nav-{{ page_type }}">
            <li class="active"><a href="#dimensions-desktop-{{ page_type }}">Desktop</a></li>
            <li><a href="#dimensions-tablet-{{ page_type }}">Tablet</a></li>
            <li><a href="#dimensions-mobile-{{ page_type }}">Mobile</a></li>
          </ul>
          <div class="tab-content">
            <table id="dimensions-desktop-{{ page_type }}" class="form-inline tab-pane active">
              {% if nitroData.Nitro.DimensionOverride[page_type].Desktop %}
                {% set name_base = "Nitro[DimensionOverride][#{page_type}][Desktop]" %}
                {% for x, dimensions in nitroData.Nitro.DimensionOverride[page_type].Desktop %}
                <tr><td><input class="form-control-sm" type="text" size="4" value="{{ dimensions.old.width }}" disabled />&nbsp;x&nbsp<input class="form-control-sm" size="4" type="text" value="{{ dimensions.old.height }}" disabled />
                    <input type="hidden" name="{{ name_base }}[{{ x }}][old][width]" value="{{ dimensions.old.width }}" />
                    <input type="hidden" name="{{ name_base }}[{{ x }}][old][height]" value="{{ dimensions.old.height }}" />
                    <span style="font-size: 2em">&nbsp;&rarr;&nbsp;</span>
                    <input name="{{ name_base }}[{{ x }}][new][width]" class="form-control-sm" size="4" type="text" value="{{ dimensions.new.width }}" />&nbsp;x&nbsp<input name="{{ name_base }}[{{x}}][new][height]" class="form-control-sm" size="4" type="text" value="{{ dimensions.new.height }}" /></td></tr>
                {% endfor %}
              {% endif %} 
            </table>
            <table id="dimensions-tablet-{{ page_type }}" class="form-inline tab-pane">
              {% if nitroData.Nitro.DimensionOverride[page_type].Tablet %}
                {% set name_base = "Nitro[DimensionOverride][#{page_type}][Tablet]" %}
                {% for x, dimensions in nitroData.Nitro.DimensionOverride[page_type].Tablet %}
                <tr><td><input class="form-control-sm" type="text" size="4" value="{{ dimensions.old.width }}" disabled />&nbsp;x&nbsp<input class="form-control-sm" size="4" type="text" value="{{ dimensions.old.height }}" disabled />
                    <input type="hidden" name="{{ name_base }}[{{ x }}][old][width]" value="{{ dimensions.old.width }}" />
                    <input type="hidden" name="{{ name_base }}[{{ x }}][old][height]" value="{{ dimensions.old.height }}" />
                    <span style="font-size: 2em">&nbsp;&rarr;&nbsp;</span>
                    <input name="{{ name_base }}[{{ x }}][new][width]" class="form-control-sm" size="4" type="text" value="{{ dimensions.new.width }}" />&nbsp;x&nbsp<input name="{{ name_base }}[{{x}}][new][height]" class="form-control-sm" size="4" type="text" value="{{ dimensions.new.height }}" /></td></tr>
                {% endfor %}
              {% endif %} 
            </table>
            <table id="dimensions-mobile-{{ page_type }}" class="form-inline tab-pane">
              {% if nitroData.Nitro.DimensionOverride[page_type].Mobile %}
                {% set name_base = "Nitro[DimensionOverride][#{page_type}][Mobile]" %}
                {% for x, dimensions in nitroData.Nitro.DimensionOverride[page_type].Mobile %}
                <tr><td><input class="form-control-sm" type="text" size="4" value="{{ dimensions.old.width }}" disabled />&nbsp;x&nbsp<input class="form-control-sm" size="4" type="text" value="{{ dimensions.old.height }}" disabled />
                    <input type="hidden" name="{{ name_base }}[{{ x }}][old][width]" value="{{ dimensions.old.width }}" />
                    <input type="hidden" name="{{ name_base }}[{{ x }}][old][height]" value="{{ dimensions.old.height }}" />
                    <span style="font-size: 2em">&nbsp;&rarr;&nbsp;</span>
                    <input name="{{ name_base }}[{{ x }}][new][width]" class="form-control-sm" size="4" type="text" value="{{ dimensions.new.width }}" />&nbsp;x&nbsp<input name="{{ name_base }}[{{x}}][new][height]" class="form-control-sm" size="4" type="text" value="{{ dimensions.new.height }}" /></td></tr>
                {% endfor %}
              {% endif %} 
            </table>
          </div>
        </div>
      </div>
      <div class="row form-group" style="border-top: none;">
        <div class="col-md-6 col-md-offset-3">
          <a class="btn btn-success image-dimension-scan-btn" data-page-type="{{ page_type }}"><i class="fa fa-spinner fa-spin hidden scan-loader"></i>&nbsp;Scan dimensions</a>
          <a class="btn btn-danger image-dimension-delete-btn" data-page-type="{{ page_type }}"><i class="fa fa-trash"></i>&nbsp;Delete overrides</a>
        </div>
      </div>
      {% endfor %}
      <script type="text/javascript">
        $('#img-dimensions-nav-home a, #img-dimensions-nav-category a, #img-dimensions-nav-product a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })

        $('.image-dimension-delete-btn').click(function() {
          var page_type = $(this).data("page-type");
          $("#dimensions-desktop-" + page_type).html("");
          $("#dimensions-tablet-" + page_type).html("");
          $("#dimensions-mobile-" + page_type).html("");
        });

        $('.image-dimension-scan-btn').click(function() {
          var page_type = $(this).data("page-type");
          var loader = $(this).find(".scan-loader");

          loader.removeClass("hidden");

          $.ajax({
            url: "{{ image_dimensions_url }}",
            type: "GET",
            data: {
              page_type: page_type
            },
            dataType: "json",
            success: function(resp) {
              var html;

              for (strategy in resp) {
                if (resp[strategy]) {
                  var name_base = 'Nitro[DimensionOverride]['+page_type+']['+strategy+']';
                  var data = resp[strategy];
                  html = "";

                  for (var x=0; x < data.length; x++) {
                    var dimensions = data[x].split("x");
                    html += '<tr><td><input class="form-control-sm" type="text" size="4" value="'+dimensions[0]+'" disabled />&nbsp;x&nbsp<input class="form-control-sm" size="4" type="text" value="'+dimensions[1]+'" disabled />';
                    html += '<input type="hidden" name="'+name_base+'['+x+'][old][width]" value="'+dimensions[0]+'" />';
                    html += '<input type="hidden" name="'+name_base+'['+x+'][old][height]" value="'+dimensions[1]+'" />';
                    html += '<span style="font-size: 2em">&nbsp;&rarr;&nbsp;</span>';
                    html += '<input name="'+name_base+'['+x+'][new][width]" class="form-control-sm" size="4" type="text" value="'+dimensions[0]+'" />&nbsp;x&nbsp<input name="'+name_base+'['+x+'][new][height]" class="form-control-sm" size="4" type="text" value="'+dimensions[1]+'" /></td></tr>';
                  }

                  $("#dimensions-" + strategy.toLowerCase() + "-" + page_type).html(html);

                  html = "";
                }
              }
            },
            complete: function() {
              loader.addClass("hidden");
            },
            error: function(xhr) {
              alert(xhr.responseText);
            }
          });
        });
      </script>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="box-heading">
        <h1><i class="icon-info-sign"></i>&nbsp;Image Cache?</h1>
      </div>
      <div class="box-content" style="min-height:100px; line-height:20px; padding: 15px">
        This is your OpenCart image cache functionality. Now you have the chance to control the quality of the images and clear the cache from the admin panel. The images are stored in the image cache directory and are created on-the-fly when an image request is sent. This means that if you clear your cache now, it will be auto-populated later while the users are browsing your site.
      </div>
    </div>

    <div class="row">
      <div class="box-heading">
        <h1><i class="icon-info-sign"></i>&nbsp;Image Dimensions Override?</h1>
      </div>
      <div class="box-content" style="min-height:100px; line-height:20px; padding: 15px">
        Most responsive themes need to supply images in high resolution in order to look good on all device types. The image containers for the different device types are with different dimensions and the resolution is usually based on the largest container's dimensions. However this adds overhead for the devices that will not display the image in the bigger resolution. This functionality allows you to override the image dimensions for the different device and page types.
      </div>
    </div>
  </div>
</div>
